.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(https://thuthuatphanmem.vn/uploads/2018/09/11/hinh-anh-dep-6_044127357.jpg);
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url(https://thuthuatphanmem.vn/uploads/2018/09/11/hinh-anh-dep-5_044127233.jpg);
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url(https://thuthuatphanmem.vn/uploads/2018/09/11/hinh-anh-dep-21_044128777.jpg);
}